.cateResponsive {
    display: none;
    background-color: white;
    width: 250px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.77);
}

.setaImg {
    height: 50%;
    margin-left: 5px;

}
.listArea {
    width: 250px;
}

@media (max-width: 770px) {
    .container {
        width: 100vw;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categoriaLista {
        display: none;
    }

    .cateResponsive {
        display: flex;
    }
}