.main {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.off {
    height:30%;
    width: 80%;
    font-size: 24px;
    margin-top: 30px;
}
.cates {
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.eachCate {
    margin: 10px;
    text-decoration:underline;
}

.eachCate:hover {
    text-decoration: none;
}

@media (max-width: 500px) {
}