.footer {
    width: 100vw;
    min-height: 25vh;
    background-color: black;
    bottom: 0;
    left: 0;
    z-index: 20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.footer .logo img {
    width: 50px;
}

.footer .logo h2 {
    font-weight: bold;
    font-size: 30px;
}

.footer .social {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social img {
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.footer .parceiros {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .parceiros .item {
    width: 80px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: all ease-in .1s;
}
.footer .parceiros .item:hover {
    background-color: rgb(5, 163, 163);
}

.footer .parceiros img {
    width: 30px;
}

.footer .menu {
    display: flex;
}

.footer .itemMenu {
    margin: 10px;
    cursor: pointer;
}

.footer .infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .infos .contato {
    margin-right: 60px;
}

.direito {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(138, 138, 138);
    width: 80%;
    height: 50px;
    margin-top: 15px;
    font-size: 13px;
    color: rgb(138, 138, 138);
    text-align: center;
}

.line {
    width: 80%;
    height: 1px;
    background-color: rgb(100, 100, 100);
    margin-top: 20px;
}

@media (max-width: 700px) {

    .footer .logo h2 {
        font-size: 25px;
    }
    .footer .infos {
        font-size: 13px;
    }
    .footer .infos .contato {
        margin-right: 40px;
    }
}

@media (max-width: 450px) {
    .footer .infos {
        flex-direction: column;
    }
    .footer .infos .contato {
        margin-right: 0px;
        margin: 10px;
        width: 200px;
    }

}